<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% if title %} 
      <title>{{ title }} | RentMatch</title> 
      {% else %} 
      <title>RentMatch</title> 
      {% endif %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
      <header>
        <div class="logo">
            <a class="logo" href="{{ url_for('home') }}">RentMatch</a>
        </div>
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
      </header>

      <hr> 
      {% with messages = get_flashed_messages() %} 
      {% if messages %} 
      <ul> 
            {% for message in messages %} 
            <li>{{ message }}</li> 
            {% endfor %} 
      </ul> 
      {% endif %} 
      {% endwith %}  
      
      {% block content %}{% endblock %}

      <footer>
            <div class="footer-content">
            <p>&copy; 2025 RentMatch. All rights reserved.</p>
            <nav>
                  <a href="{{ url_for('terms_conditions') }}">Terms & Conditions</a>
                  <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
            </nav>
            </div>
      </footer>
</body>
</html>
