{% extends 'base.html' %}

{% block title %}Welcome to your rental search solution{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <div class="text-center">
        <div class="square-logo-container">
            <img class="square-logo" src="{{ url_for('static', filename='images/H-removebg-preview2.png') }}" alt="logo">
        </div>

        <div class="p-4 mb-4 welcome-container">
            <h1 class="fw-bold text-dark">HomeSwipe</h1>
        </div>

        <!--<h4 class="fw-semibold text-dark">HomeSwipe</h4>-->
        <p class="fw-bold text-dark">Find your one true (housing) match</p>
        <p class="text-muted" style="max-width: 500px; margin: auto;">
            Making the renting process easier for <i>both</i> tenants and landlords, saving time by 
            matching them <b>efficiently</b> and connecting them <b>directly</b>.
        </p>
        <div class="mt-4">
            <a href="{{ url_for('main.login') }}" class="btn intro-btn px-4 me-3">Login</a>
            <a href="{{ url_for('main.register') }}" class="btn intro-btn px-4">Register</a>
        </div>
    </div>
</div>
{% endblock %}